*{
  margin: auto;
  padding: 0
  ;

}

section{
  margin-top: 100px ;
  padding: 50px;
  border-radius: 10px;
  width: 500px;
  background-color: #fff;
 
 
  
  
}

body{
  margin: auto;

  background-color: rgb(68, 68, 68);
  

}

.cta{
  border: none;
  color: white;
  padding: 10px;
  background-color: rgb(126, 126, 126);
  border-radius: 5px;
  box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.405);
  margin: 10px;
}